.indexheader {
    text-align: center;
    background-color: lightblue;
    color: white;
}

.tastytext {
    color: rgb(88, 158, 201);
    font-size: 20px;
}

.linkbox {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
}

.sneakpeaktext {
    color: white;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.spaghettiimg {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.katsuimg {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.stirfryimg {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.sourcetext {
    color: rgb(88, 158, 201);
    font-size: 15px;
    font-weight: bold;
}

.sourcelink {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
}

.spaghettiheader {
    text-align: center;
    color: white;
    background-color: lightblue;
}

.s-img {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.spaghettiinfo {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
    color: rgb(88, 158, 201);
}

.spaghettirecipe {
    color: rgb(88, 158, 201);
    background-color: white;
}

.katsuheader {
    text-align: center;
    color: white;
    background-color: lightblue;
}

.k-img {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.katsuinfo {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
    color: rgb(88, 158, 201);
}

.katsurecipe {
    color: rgb(88, 158, 201);
    background-color: white;
}

.stirfryheader {
    text-align: center;
    color: white;
    background-color: lightblue;
}

/* cs=chicken stirfry*/
.cs-img {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stirfryinfo {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
    color: rgb(88, 158, 201);
}

.stirfryrecipe {
    color: rgb(88, 158, 201);
    background-color: white;
}