.header {
    text-align: center;
    background-color: lightblue;
    color: white;
}

.tasty {
    color: rgb(88, 158, 201);
    font-size: 20px;
}

.box {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
}

.peak {
    color: white;
    background-color: lightblue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.spaghetti {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.katsu {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.stirfry {
    border-radius: 10px;
    border-width: 10px;
    margin: 20px;
    border-style: groove;
    border-color: lightblue;
}

.source {
    color: rgb(88, 158, 201);
    font-size: 15px;
    font-weight: bold;
}

.link {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
}

.headerone {
    text-align: center;
    color: white;
    background-color: lightblue;
}

.img {
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: lightblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.info {
    border-radius: 5px;
    border-width: 5px;
    border-style: groove;
    border-color: lightblue;
    color: rgb(88, 158, 201);
}

.recipe {
    color: rgb(88, 158, 201);
    background-color: white;
}